* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 500px;
    height: 500px;
}

#container>div {
    border: 1px solid black;

}

#myButton {
    background-color: rgb(83, 149, 248);
    font-weight: 400;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 50px;
    max-width: 50%;
    margin-left: 50px;

}

.newDiv.active,
.boxDiv.active {
    background-color: rgb(107, 228, 208);
    transition: background-color 0.3s ease;
    /* Smooth transition for color change */
    cursor: pointer;
    opacity: 1;
}